streamlit==1.52.0
tiktoken==0.12.0
langchain==1.1.2
langchain-classic==1.0.0
langchain-cli==0.0.37
langchain-community==0.4.1
langchain-core==1.1.1
langchain-google-genai==3.2.0
langchain-huggingface==1.1.0
langchain-text-splitters==1.0.0
langchainhub==0.1.21
loguru==0.7.3
sentence-transformers==5.1.2
transformers==4.57.3
torch==2.9.1
torchvision==0.24.1
faiss-cpu==1.13.0
pypdf==6.4.0